body {
  font-family: "Hind", sans-serif;
  font-family: "Space Mono", monospace;
}

.full-time {
  font-weight: 700;
  font-size: 22vw;
}

.full-date {
  font-size: 4vw;
}

.ampm {
  font-size: 9vw;
}

.blink {
  opacity: 0.5;
}
